:root {
    --primaryc: white;
    --secondaryc: black;
    --thirdc: rgb(62, 153, 138);
    --whiteborder: 7px solid white;
    --mainfont: 'Arial Black', Georgia, 'Times New Roman', serif, sans-serif;
}

* {
    font-family: var(--mainfont);
}

/* HEADER OF WEBSITE  */

body header {
    font-family: Georgia, var(--mainfont);
    display: flex;
    flex: auto;
    width: 100%;
    background-color: black;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

body header h1 {
    width: 30%;
    padding-right: 20px;
    text-align: right;
    font-size: 48px;
    background-color: var(--thirdc);
}

/* START OF NAV  */

body header h1 nav {
    display: flex;
    margin-left: 60%;
    justify-content: flex-end;
    align-items: center;
    align-content: end;
}

body header nav ul {
    justify-content: flex-end;
}

body header nav ul li{
    background-color: var(--thirdc);
    font-size: 32px;
    padding: 15px;
    margin-left: 30px;
    margin-right: 15px;
    display: inline;
    border-radius: 4px;
}

/* STYLING FOR NAV ITEMS  */

.navItem {
    color: var(--secondaryc);
    text-decoration: none;
}

/* SUBTITLE FOR IMAGE  */

#imgSub {
    background-color: var(--thirdc);
    position: absolute;
    display: block;
    margin-left: 75%;
    margin-top: -90px;
    font-size: 32px;
    color: var(--secondaryc)
}

body {
    background-color: rgb(68, 68, 68);
}

body section {
    font-family: var(--mainfont);
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: white;
    padding-bottom: 10%;
}

body section h2 {
    border-right: var(--whiteborder);
    margin-left: 5%;
    display: inline;
    font-size: 70px;
    font-weight: 800;
    padding-right: 10px;
}

body section p {
    width: 650px;
    height: 200px;
    display: inline;
    font-weight: 400;
    font-size: 22px;
    padding-left: 20px;
    margin-right: 700px;
    margin-bottom: 100px;
}

#workSec {
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
}

#workImages p {
    padding: 10px 0 0 0;
    font-size: 16px;
    text-align: center;
    position: absolute;
    background-color: var(--thirdc);
    color: var(--secondaryc);
    width: 50px;
    height: 50px;
}

#workSec figure div{
    padding-left: 10%;
}

#workSec h2 {
    padding-left: 168px;
}

#workImages {
    margin-left: 5%;
}

#mainWork img {
    width: 61%;
    border: 5px solid var(--thirdc);
}

#secWork img {
    width: 30%;
    border: 5px solid var(--thirdc);
}

#abMeSec p {
    margin-right: 756px;
}

#contactMeSec {
    color: var(--primaryc);
    display: flex;
    width: 100%;
    flex-direction: column;
}

#contactMeSec h2 {
    font-size: 82px;
    font-weight: 800;
    text-align: center;
}

#whiteBar {
    border-bottom: var(--whiteborder);
    margin: 0 550px;
}

#contactMeSec ul {
    text-align: center;
    padding: 15px;
    word-spacing: 60px;
    font-size: 24px;
}

#contactMeSec ul li {
    display: inline;
}
#contactMeSec ul li a {
    color: white;
}

#dividerImage {
    width: 100%;
    height: 200px;
}

#workImages img:hover {
   border: 5px solid cyan;
}

#workImages img:active {
    border: 5px solid red;
 }

 /* STYLING FOR PROFILE PIC */

#image-cropper {
    margin-top: 2%;
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}
#profile-pic {
  display: inline-flex;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
  transform: rotate(-5deg);
}