:root {
    --primaryc: white;
    --secondaryc: black;
}

header {
    display: flex;
    width: 100%;
    background-color: var(--secondaryc);
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    width: 30%;
    padding-right: 20px;
    text-align: right;
    font-size: 48px;
    background-color: red;
    color: black;
}


header h1 nav {
    display: flex;
    margin-left: 60%;
    background-color: var(--secondaryc);
    justify-content: flex-end;
    align-items: center;
    align-content: end;
}

header nav ul {
    justify-content: flex-end;
}

header nav ul li{
    font-size: 32px;
    padding: 15px;
    color: var(--primaryc);
    display: inline;
}

figure p {
    position: absolute;
    display: block;
    margin-left: 75%;
    margin-top: -90px;
    font-size: 32px;
    color: var(--primaryc)
}

body {
    background-color: var(--primaryc);
}

body section {
    width: 100%;
    display: inline-flex;
    flex-flow: column wrap;
}

body section h2 {
    margin-top: 50px;
    margin-left: 20%;
    font-size: 48px;
    text-align: left;
    display: inline-flex;
}

body section p {
    border-left: 7px solid black;
    margin-left: 50%;
    height: 150px;
    font-size: 24px;
    text-align: right;
    display: inline-flex;
}

#divider-image {
    width: 100%;
    height: 200px;
}